<html>
<head>
    <title>Author</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href='/'>Daddy's Library</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <h1>{{ author.getName }}</h1>

    {% if authors is not empty %}
        <p>Here are the authors:</p>
        <ul>
            {% for author in authors %}
                <li>{{ author.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add a book to this author:</h4>

    <form action='/add_book' method='post'>
        <input id="author_id" name="author_id" type="hidden" value="{{ author.getId }}">
        <label for="book_id">Select a book</label>
        <select id='book_id' name='book_id' type='text'>
          {% for book in all_books %}
            <option value="{{ book.getId }}"> {{ book.getTitle }} </option>
          {% endfor %}
        </select>
        <button type='submit'>Add Book</button>
    </form>

    <p><a href="/books/{{ author.getId }}/edit">Edit author</a></p>

    <p><a href='/'>Home</a></p>
    </div>
</body>
</html>